*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body::-webkit-scrollbar {
  display: none; }

.container {
  display: grid;
  grid-template-rows: 100vh 90vh 100vh 60vh 70vh 75vh 35vh;
  grid-template-columns: repeat(12, 1fr); }

html {
  scroll-behavior: smooth; }

.hidden {
  opacity: 0;
  transition: all 1s; }

.show {
  opacity: 1; }

.gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(107, 5vw) 5px;
  grid-gap: 15px;
  gap: 15px;
  padding: 15px; }
  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery-item-1 {
    grid-row: 1 / 4;
    grid-column: 1 / 3; }
  .gallery-item-3 {
    grid-row: 1 / 8;
    grid-column: 3 / 5; }
  .gallery-item-5 {
    grid-row: 8 / 11;
    grid-column: 3 / 6; }
  .gallery-item-6 {
    grid-row: 1 / 5;
    grid-column: 5 / 8; }
  .gallery-item-7 {
    grid-row: 4 / 11;
    grid-column: 1 / 3; }
  .gallery-item-8 {
    grid-row: 5 / 8;
    grid-column: 5 / 8; }
  .gallery-item-9 {
    grid-row: 8 / 14;
    grid-column: 6 / 8; }
  .gallery-item-62 {
    grid-row: 11 / 16;
    grid-column: 1 / 4; }
  .gallery-item-23 {
    grid-row: 11 / 14;
    grid-column: 4 / 6; }
  .gallery-item-65 {
    grid-row: 11 / 16;
    grid-column: 1 / 4; }
  .gallery-item-14 {
    grid-row: 14 / 18;
    grid-column: 4 / 8; }
  .gallery-item-39 {
    grid-row: 16 / 20;
    grid-column: 1 / 4; }
  .gallery-item-82 {
    grid-row: 18 / 20;
    grid-column: 4 / 6; }
  .gallery-item-71 {
    grid-row: 18 / 24;
    grid-column: 6 / 8; }
  .gallery-item-61 {
    grid-row: 20 / 24;
    grid-column: 3 / 6; }
  .gallery-item-21 {
    grid-row: 20 / 26;
    grid-column: 1 / 3; }
  .gallery-item-15 {
    grid-row: 24 / 28;
    grid-column: 5 / 8; }
  .gallery-item-36 {
    grid-row: 28 / 34;
    grid-column: 6 / 8; }
  .gallery-item-19 {
    grid-row: 24 / 28;
    grid-column: 3 / 5; }
  .gallery-item-47 {
    grid-row: 26 / 31;
    grid-column: 1 / 3; }
  .gallery-item-20 {
    grid-row: 28 / 31;
    grid-column: 3 / 6; }
  .gallery-item-44 {
    grid-row: 31 / 34;
    grid-column: 1 / 6; }
  .gallery-item-69 {
    grid-row: 34 / 39;
    grid-column: 5 / 8; }
  .gallery-item-46 {
    grid-row: 34 / 41;
    grid-column: 1 / 3; }
  .gallery-item-4 {
    grid-row: 34 / 41;
    grid-column: 3 / 5; }
  .gallery-item-10 {
    grid-row: 39 / 44;
    grid-column: 5 / 8; }
  .gallery-item-49 {
    grid-row: 41 / 44;
    grid-column: 1 / 5; }
  .gallery-item-25 {
    grid-row: 44 / 48;
    grid-column: 3 / 6; }
  .gallery-item-42 {
    grid-row: 44 / 50;
    grid-column: 1 / 3; }
  .gallery-item-63 {
    grid-row: 44 / 48;
    grid-column: 6 / 8; }
  .gallery-item-66 {
    grid-row: 48 / 53;
    grid-column: 5 / 8; }
  .gallery-item-77 {
    grid-row: 48 / 53;
    grid-column: 3 / 5; }
  .gallery-item-48 {
    grid-row: 50 / 56;
    grid-column: 1 / 3; }
  .gallery-item-60 {
    grid-row: 53 / 57;
    grid-column: 3 / 6; }
  .gallery-item-17 {
    grid-row: 53 / 59;
    grid-column: 6 / 8; }
  .gallery-item-50 {
    grid-row: 56 / 59;
    grid-column: 1 / 3; }
  .gallery-item-76 {
    grid-row: 57 / 59;
    grid-column: 3 / 6; }
  .gallery-item-78 {
    grid-row: 59 / 63;
    grid-column: 1 / 4; }
  .gallery-item-43 {
    grid-row: 59 / 63;
    grid-column: 4 / 6; }
  .gallery-item-70 {
    grid-row: 63 / 67;
    grid-column: 3 / 6; }
  .gallery-item-58 {
    grid-row: 63 / 67;
    grid-column: 1 / 3; }
  .gallery-item-53 {
    grid-row: 59 / 67;
    grid-column: 6 / 8; }
  .gallery-item-40 {
    grid-row: 67 / 71;
    grid-column: 5 / 8; }
  .gallery-item-64 {
    grid-row: 67 / 72;
    grid-column: 1 / 5; }
  .gallery-item-18 {
    grid-row: 71 / 75;
    grid-column: 5 / 8; }
  .gallery-item-79 {
    grid-row: 72 / 75;
    grid-column: 1 / 5; }
  .gallery-item-67 {
    grid-row: 75 / 79;
    grid-column: 1 / 3; }
  .gallery-item-72 {
    grid-row: 75 / 79;
    grid-column: 5 / 8; }
  .gallery-item-68 {
    grid-row: 75 / 79;
    grid-column: 3 / 5; }
  .gallery-item-24 {
    grid-row: 79 / 83;
    grid-column: 1 / 4; }
  .gallery-item-29 {
    grid-row: 79 / 84;
    grid-column: 4 / 6; }
  .gallery-item-34 {
    grid-row: 79 / 84;
    grid-column: 6 / 8; }
  .gallery-item-45 {
    grid-row: 83 / 87;
    grid-column: 1 / 4; }
  .gallery-item-74 {
    grid-row: 84 / 87;
    grid-column: 4 / 8; }
  .gallery-item-59 {
    grid-row: 87 / 91;
    grid-column: 6 / 8; }
  .gallery-item-28 {
    grid-row: 87 / 91;
    grid-column: 3 / 6; }
  .gallery-item-35 {
    grid-row: 87 / 91;
    grid-column: 1 / 3; }
  .gallery-item-54 {
    grid-row: 91 / 95;
    grid-column: 1 / 4; }
  .gallery-item-33 {
    grid-row: 91 / 96;
    grid-column: 6 / 8; }
  .gallery-item-57 {
    grid-row: 91 / 96;
    grid-column: 4 / 6; }
  .gallery-item-41 {
    grid-row: 95 / 99;
    grid-column: 1 / 4; }
  .gallery-item-38 {
    grid-row: 96 / 99;
    grid-column: 4 / 8; }
  .gallery-item-37 {
    grid-row: 99 / 105;
    grid-column: 6 / 8; }
  .gallery-item-81 {
    grid-row: 99 / 104;
    grid-column: 3 / 6; }
  .gallery-item-27 {
    grid-row: 99 / 104;
    grid-column: 1 / 3; }
  .gallery-item-80 {
    grid-row: 104 / 108;
    grid-column: 1 / 4; }
  .gallery-item-73 {
    grid-row: 104 / 108;
    grid-column: 4 / 6; }
  .gallery-item-16 {
    grid-row: 105 / 108;
    grid-column: 6 / 8; }

.about {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 50px 1fr 1fr 100px;
  grid-gap: 35px;
  align-items: center; }
  .about-img {
    width: 700px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: end;
    object-fit: contain; }
  .about-text {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    align-self: start; }

.about__container {
  display: grid;
  grid-template-rows: 80vh 70vh 50vh;
  grid-template-columns: repeat(12, 1fr); }

.about__hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-image: linear-gradient(rgba(96, 122, 65, 0), rgba(96, 122, 65, 0)), url(../img/img-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center; }

.about__heading {
  grid-row: 1 / 3 !important;
  grid-column: 1 / -1 !important;
  margin-top: 2rem; }

.about__subheading {
  grid-row: 2 / 3 !important;
  grid-column: 1 / -1 !important;
  align-self: center !important; }

.about__text {
  grid-column: 1 / -1;
  text-align: center;
  margin: 5rem 7rem 5rem 7rem;
  align-self: center; }

.about__cta {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(96, 122, 65, 0), rgba(96, 122, 65, 0)), url(../img/img-44.jpg);
  background-size: cover;
  text-align: center;
  padding: 7rem; }

.btn {
  background-color: #ffffff;
  border: 1px solid #607a41;
  padding: 1rem;
  margin-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #607a41;
  transition: 0.1s ease-in-out; }
  .btn:hover {
    transform: translateY(-3px);
    transform: scale(1.1);
    background-color: #607a41;
    color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(54, 61, 49, 0.1);
    cursor: pointer; }
  .btn:active, .btn:focus {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #607a41; }
  .btn__a {
    font-family: "Montserrat", sans-serif;
    color: #607a41; }
    .btn__a:hover {
      color: #ffffff; }

.green-line {
  border: 1px solid #607a41;
  background-color: #607a41;
  margin-bottom: 50px;
  margin-top: -50px; }

.icon-scale:hover {
  transform: scale(1.1); }

.footer {
  background-color: #607a41;
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(10, 1fr);
  color: #ffffff; }
  .footer-icon {
    height: 35px;
    width: 35px; }
  .footer-right {
    grid-row: 2 / 3;
    grid-column: 7 / 9; }
  .footer-middle {
    grid-row: 2 / 3;
    grid-column: 5 / 7; }
  .footer-left {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    color: #ffffff; }
  .footer-text {
    margin-top: 15px;
    margin-bottom: 15px; }
  .footer-p {
    margin-bottom: 20px; }

.whatsapp {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  justify-self: center;
  align-self: center; }

.instagram {
  grid-row: 1 / 2;
  grid-column: 6 / 7;
  justify-self: center;
  align-self: center; }

.features {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr 4fr 1fr;
  background-image: linear-gradient(rgba(96, 122, 65, 0.3), rgba(96, 122, 65, 0.3)), url(../img/img-43.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-left: 25px;
  margin-right: 25px;
  grid-column: 1 / -1;
  grid-row: 5 / 6; }
  .features-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
    box-shadow: 0 1.5rem 4rem rgba(54, 61, 49, 0.15); }
    .features-card:hover {
      background-color: rgba(255, 255, 255, 0.92);
      transform: translateY(-1.5rem) scale(1.03); }
  .features-icon {
    padding-top: 30px;
    padding-bottom: 30px; }
  .features__text {
    margin: 2rem; }

.card1 {
  grid-row: 2 / 3;
  grid-column: 3 / 6; }

.card2 {
  grid-row: 2 / 3;
  grid-column: 7 / 10; }

.card3 {
  grid-row: 2 / 3;
  grid-column: 11 / 14; }

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  gap: 10px;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  background-image: linear-gradient(rgba(96, 122, 65, 0.4), rgba(96, 122, 65, 0.4)), url(../img/mainhouse.jpg);
  background-size: cover;
  justify-items: center; }

.hero-img {
  background-size: cover; }

.heading-1 {
  grid-column: 3 / 7;
  grid-row: 2 / 3;
  align-self: center;
  animation: 1.8s fadeIn ease-in-out; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.heading-3 {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
  align-self: end;
  animation: 4s fadeIn ease-in-out; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.down-arrow {
  height: 35px;
  width: 35px;
  grid-column: 4 / 6;
  grid-row: 4 / 5;
  animation: 4s fadeIn ease-in-out; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.benefits {
  grid-column: 4 / 10;
  grid-row: 4 / 5;
  text-align: center;
  padding-top: 100px; }
  .benefits-text {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
    padding-top: -20px; }

.spaces {
  display: grid;
  grid-template-rows: 100vh 10vh 100vh 10vh;
  grid-template-columns: repeat(8, 1fr); }
  .spaces__title {
    align-self: center;
    justify-self: center;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    color: #363d31 !important;
    padding: 2rem;
    text-align: center; }
  .spaces__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .spaces__text {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
    margin-top: -3rem !important; }
  .spaces__feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    grid-gap: 2rem; }
    .spaces__feature-1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2; }
    .spaces__feature-2 {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .spaces__feature-3 {
      grid-row: 1 / 2;
      grid-column: 2 / 3; }
    .spaces__feature-4 {
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
    .spaces__feature-5 {
      grid-row: 1 / 2;
      grid-column: 3 / 4; }
    .spaces__feature-6 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
  .spaces__btn {
    grid-row: 6 / 7;
    grid-column: 1 / -1;
    justify-self: center;
    width: fit-content; }
  .spaces__chale {
    grid-row: 1 / 2;
    grid-column: 2 / 8;
    display: grid;
    grid-template-rows: 7fr 7fr 1fr 1fr 8fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 5rem; }
    .spaces__chale-img1 {
      grid-row: 1 / 3;
      grid-column: 1 / 3; }
    .spaces__chale-img2 {
      grid-row: 1 / 2;
      grid-column: 3 / 4; }
    .spaces__chale-img3 {
      grid-row: 1 / 2;
      grid-column: 4 / 5; }
    .spaces__chale-img4 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
    .spaces__chale-img5 {
      grid-row: 2 / 3;
      grid-column: 4 / 5; }
  .spaces__mainhouse {
    grid-row: 3 / 4;
    grid-column: 2 / 8;
    display: grid;
    grid-template-rows: 7fr 7fr 1fr 1fr 8fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 5rem; }
    .spaces__mainhouse-img1 {
      grid-row: 1 / 3;
      grid-column: 1 / 3; }
    .spaces__mainhouse-img2 {
      grid-row: 1 / 2;
      grid-column: 3 / 4; }
    .spaces__mainhouse-img4 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
    .spaces__mainhouse-img5 {
      grid-row: 1 / 3;
      grid-column: 4 / 5; }

.carousel {
  color: #363d31;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 4fr 1fr;
  grid-column: 3 / 11;
  grid-row: 6 / 7;
  align-items: center;
  justify-items: center; }
  .carousel__img-container {
    height: 8rem;
    grid-row: 2 / 3;
    grid-column: 2 / 3; }
  .carousel__image {
    height: 8rem;
    width: 8rem;
    border-radius: 4423432px;
    transform: scale(1.5);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); }
  .carousel__btn {
    background-color: #607a41;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    opacity: 0.7;
    cursor: pointer; }
    .carousel__btn--left {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .carousel__btn--right {
      grid-row: 2 / 3;
      grid-column: 4 / 5; }

ion-icon {
  height: 2.4rem;
  width: 2.4rem; }

.testimonial {
  padding: 5rem;
  padding-top: 10rem;
  grid-row: 2 / 3;
  grid-column: 3 / 4; }
  @media only screen and (min-width: 37.5em) {
    .testimonial {
      padding: 0; } }
  .testimonial__text {
    line-height: 1.8rem;
    margin-bottom: 1rem; }
  .testimonial__name {
    font-size: 1.4rem;
    margin-bottom: 0.4rem; }
  .testimonial__job {
    font-size: 1.2rem; }

.contact__body {
  display: grid;
  grid-template-rows: 85vh 5vh;
  grid-template-columns: repeat(12, 1fr); }

.form__section {
  grid-row: 1 / 2;
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-image: linear-gradient(rgba(96, 122, 65, 0.1), rgba(96, 122, 65, 0.1)), url(../img/img-44.jpg);
  background-size: cover;
  margin-top: 2rem;
  justify-items: center;
  align-items: center; }

.form__input {
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 85%;
  display: block;
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(96, 122, 65, 0.1);
    border-bottom: 3px solid #607a41; }
  .form__input:focus:invalid {
    border-bottom: 3px solid rgba(214, 61, 61, 0.918); }
  .form__input::-webkit-input-placeholder {
    color: #607a41; }
  .form__input:placeholder-shown + .form__input__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.form__title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: left;
  align-self: initial; }

.form__name {
  grid-row: 2 / 3;
  grid-column: 2 / 3; }

.form__phone {
  grid-row: 3 / 4;
  grid-column: 2 / 3; }

.form__email {
  grid-row: 4 / 5;
  grid-column: 2 / 3; }

.form__text {
  grid-row: 5 / 6;
  grid-column: 2 / 3; }

.form__btn {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  padding-left: 2rem;
  padding-right: 2rem; }

li {
  display: inline;
  padding: 15px; }
  li:active {
    text-decoration: none; }

a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
  font-family: "TP Serif", serif; }

#navbar {
  grid-column: 1 / -1;
  justify-self: center;
  position: fixed;
  text-align: center;
  padding: 16px;
  top: -50px;
  width: 100%;
  background-color: rgba(96, 122, 65, 0.8);
  transition: top 0.3s;
  z-index: 423432; }

.services {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: repeat(13, 1fr);
  grid-column: 1 / -1;
  justify-items: center; }
  .services-title {
    grid-row: 1 / 2;
    grid-column: 6 / 9;
    align-self: center;
    text-align: center; }
  .services-box {
    grid-row: 2 / 3;
    text-align: center; }
    .services-box_1 {
      grid-column: 2 / 4; }
    .services-box_2 {
      grid-column: 5 / 7; }
    .services-box_3 {
      grid-column: 8 / 10; }
    .services-box_4 {
      grid-column: 11 / 13; }
  .services-img {
    width: 300px;
    height: 300px;
    transition: 0.1s ease-in-out; }
  .services-img:hover {
    box-shadow: 0 1rem 2rem rgba(54, 61, 49, 0.2); }

.btn_1 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  align-self: start; }

.btn_2 {
  grid-column: 5 / 7;
  grid-row: 3 / 4;
  align-self: start; }

.btn_3 {
  grid-column: 8 / 10;
  grid-row: 3 / 4;
  align-self: start; }

.btn_4 {
  grid-column: 11 / 13;
  grid-row: 3 / 4;
  align-self: start; }

.heading-1 {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  letter-spacing: 11px; }

.heading-2 {
  font-family: "PT Serif", serif;
  color: #363d31; }

.heading-3 {
  font-family: "Montserrat", sans serif;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 400; }
  .heading-3_card {
    color: #363d31;
    font-family: "Montserrat", sans serif;
    font-size: 1rem; }

.heading-4 {
  font-family: "Nunito", sans-serif, sans-serif;
  color: #363d31; }

.text-1 {
  font-family: "Montserrat", sans serif;
  line-height: 175%;
  font-size: 0.9rem;
  margin-top: 25px; }

.text-2 {
  font-family: "Montserrat", sans serif;
  line-height: 175%;
  font-size: 0.9rem;
  color: #ffffff; }
