*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body::-webkit-scrollbar {
  display: none; }

.container {
  display: grid;
  grid-template-rows: 100vh auto auto auto auto 75vh 35vh;
  grid-template-columns: repeat(12, 1fr); }

html {
  scroll-behavior: smooth; }

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: row dense;
  grid-gap: 15px;
  gap: 15px;
  padding: 15px; }
  .gallery-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 2 / auto; }
  .card-wide {
    grid-column: span 2 / auto; }
  .card-square {
    grid-column: span 2 / auto;
    grid-row: span 2 / auto; } }

.hidden {
  opacity: 0;
  transition: all 1s; }

.show {
  opacity: 1; }

.about {
  display: grid;
  grid-column: 2 / 12;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  margin: 10rem 0 10rem 0; }
  .about-img {
    max-width: 100%; }

.about__container {
  display: grid;
  grid-template-rows: 80vh auto;
  grid-template-columns: repeat(12, 1fr);
  text-align: center; }

.about__hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background-image: url(../img/img-2.webp);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center; }

.about__heading {
  grid-row: 1 / 3 !important;
  grid-column: 1 / -1 !important;
  margin-top: 2rem; }

.about__subheading {
  grid-row: 2 / 3 !important;
  grid-column: 1 / -1 !important;
  align-self: center !important; }

.about__text {
  grid-column: 1 / -1;
  text-align: center;
  margin: 5rem 7rem 5rem 7rem;
  align-self: center; }

.about__cta {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  background-image: url(../img/img-44.webp);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 7rem; }

.btn {
  background-color: #ffffff;
  border: 1px solid #607a41;
  padding: 1rem;
  margin-top: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #607a41;
  transition: 0.1s ease-in-out; }
  .btn:hover {
    transform: translateY(-3px);
    transform: scale(1.1);
    background-color: #607a41;
    color: #ffffff;
    box-shadow: 0 1rem 2rem rgba(54, 61, 49, 0.1);
    cursor: pointer; }
  .btn:active, .btn:focus {
    transform: scale(1.1);
    color: #ffffff;
    background-color: #607a41; }
  .btn__a {
    font-family: "Montserrat", sans-serif;
    color: #607a41; }
    .btn__a:hover {
      color: #ffffff; }

.green-line {
  border: 1px solid #607a41;
  background-color: #607a41;
  margin-bottom: 50px;
  margin-top: -50px; }

.icon-scale:hover {
  transform: scale(1.1); }

.footer {
  background-color: #607a41;
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(10, 1fr);
  color: #ffffff; }
  .footer-icon {
    height: 35px;
    width: 35px; }
  .footer-right {
    grid-row: 2 / 3;
    grid-column: 7 / 9; }
  .footer-middle {
    grid-row: 2 / 3;
    grid-column: 5 / 7; }
  .footer-left {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    color: #ffffff; }
  .footer-text {
    margin-top: 15px;
    margin-bottom: 15px; }
  .footer-p {
    margin-bottom: 20px; }

.whatsapp {
  grid-row: 1 / 2;
  grid-column: 5 / 6;
  justify-self: center;
  align-self: center; }

.instagram {
  grid-row: 1 / 2;
  grid-column: 6 / 7;
  justify-self: center;
  align-self: center; }

.features {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 35px;
  background-image: linear-gradient(rgba(96, 122, 65, 0.3), rgba(96, 122, 65, 0.3)), url(../img/img-43.webp);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 2rem 10rem 2rem; }
  @media (max-width: 1070px) {
    .features {
      margin: 0 0 3rem 0; } }
  .features-card {
    justify-self: center;
    max-width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
    box-shadow: 0 1.5rem 4rem rgba(54, 61, 49, 0.15); }
    .features-card:hover {
      background-color: rgba(255, 255, 255, 0.92);
      transform: translateY(-1.5rem) scale(1.03); }
  .features-icon {
    padding: 30px 0 30px 0; }
  .features__text {
    margin: 2rem; }

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  gap: 10px;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  justify-items: center;
  background-image: linear-gradient(rgba(96, 122, 65, 0.4), rgba(96, 122, 65, 0.4)), url(../img/mainhouse.webp);
  background-size: cover;
  background-position: center;
  text-align: center; }

.heading-1 {
  grid-column: 3 / 7;
  grid-row: 2 / 3;
  align-self: center;
  animation: 1.8s fadeIn ease-in-out; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.heading-3 {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
  align-self: end;
  animation: 4s fadeIn ease-in-out; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.down-arrow {
  height: 35px;
  width: 35px;
  grid-column: 4 / 6;
  grid-row: 4 / 5;
  animation: 4s fadeIn ease-in-out; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  100% {
    opacity: 100; } }

.benefits {
  grid-column: 3 / 11;
  grid-row: 4 / 5;
  text-align: center;
  margin: 5rem 0 15rem 0; }
  @media (max-width: 1070px) {
    .benefits {
      margin: 0 0 3rem 0; } }
  .benefits-text {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
    padding-top: -20px; }

.li {
  display: block;
  padding: 0.3rem; }

.spaces {
  display: grid;
  grid-template-rows: 100vh 10vh 100vh 10vh;
  grid-template-columns: repeat(8, 1fr); }
  .spaces__title {
    align-self: center;
    justify-self: center;
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    color: #363d31 !important;
    padding: 2rem;
    text-align: center; }
  .spaces__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .spaces__text {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
    margin-top: -3rem !important; }
  .spaces__feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 7rem);
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    grid-gap: 20px; }
    .spaces__feature-1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2; }
    .spaces__feature-2 {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .spaces__feature-3 {
      grid-row: 1 / 2;
      grid-column: 2 / 3; }
    .spaces__feature-4 {
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
    .spaces__feature-5 {
      grid-row: 1 / 2;
      grid-column: 3 / 4; }
    .spaces__feature-6 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
    .spaces__feature-icon {
      float: left;
      margin-right: 10px; }
  .spaces__btn {
    grid-row: 6 / 7;
    grid-column: 1 / -1;
    justify-self: center;
    width: fit-content; }
  .spaces__chale {
    grid-row: 1 / 2;
    grid-column: 2 / 8;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 5rem; }
    .spaces__chale-img1 {
      grid-row: 1 / 3;
      grid-column: 1 / 3; }
    .spaces__chale-img2 {
      grid-row: 1 / 2;
      grid-column: 3 / 4; }
    .spaces__chale-img3 {
      grid-row: 1 / 2;
      grid-column: 4 / 5; }
    .spaces__chale-img4 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
    .spaces__chale-img5 {
      grid-row: 2 / 3;
      grid-column: 4 / 5; }
  .spaces__mainhouse {
    grid-row: 3 / 4;
    grid-column: 2 / 8;
    display: grid;
    grid-template-rows: 7fr 7fr 1fr 1fr 8fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: 5rem; }
    .spaces__mainhouse-img1 {
      grid-row: 1 / 3;
      grid-column: 1 / 3; }
    .spaces__mainhouse-img2 {
      grid-row: 1 / 2;
      grid-column: 3 / 4; }
    .spaces__mainhouse-img4 {
      grid-row: 2 / 3;
      grid-column: 3 / 4; }
    .spaces__mainhouse-img5 {
      grid-row: 1 / 3;
      grid-column: 4 / 5; }

.carousel {
  grid-column: 2 / 12;
  color: #363d31;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center; }
  .carousel__img-container {
    height: 8rem; }
  .carousel__image {
    height: 8rem;
    width: 8rem;
    max-width: 100%;
    border-radius: 4423432px;
    transform: scale(1.5);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); }
  .carousel__btn {
    background-color: #607a41;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    opacity: 0.7;
    cursor: pointer; }

ion-icon {
  height: 2.4rem;
  width: 2.4rem; }

.testimonial {
  padding: 5rem;
  padding-top: 10rem;
  grid-column: span 2; }
  @media only screen and (min-width: 37.5em) {
    .testimonial {
      padding: 0; } }
  .testimonial__text {
    line-height: 1.8rem;
    margin-bottom: 1rem; }
  .testimonial__name {
    font-size: 1.4rem;
    margin-bottom: 0.4rem; }
  .testimonial__job {
    font-size: 1.2rem; }

.contact__body {
  display: grid;
  grid-template-rows: 85vh 5vh;
  grid-template-columns: repeat(12, 1fr); }

.form__section {
  grid-row: 1 / 2;
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  background-image: linear-gradient(rgba(96, 122, 65, 0.1), rgba(96, 122, 65, 0.1)), url(../img/img-44.webp);
  background-size: cover;
  background-position: center;
  margin-top: 2rem; }

.form__input {
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 85%;
  display: block;
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(96, 122, 65, 0.1);
    border-bottom: 3px solid #607a41; }
  .form__input:focus:invalid {
    border-bottom: 3px solid rgba(214, 61, 61, 0.918); }
  .form__input::-webkit-input-placeholder {
    color: #607a41; }
  .form__input:placeholder-shown + .form__input__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.form__title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: left;
  align-self: initial; }

.form__name {
  grid-row: 2 / 3;
  grid-column: 2 / 3; }

.form__phone {
  grid-row: 3 / 4;
  grid-column: 2 / 3; }

.form__email {
  grid-row: 4 / 5;
  grid-column: 2 / 3; }

.form__text {
  grid-row: 5 / 6;
  grid-column: 2 / 3; }

.form__btn {
  grid-row: 6 / 7;
  grid-column: 2 / 3;
  padding-left: 2rem;
  padding-right: 2rem; }

.spa__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 70vh);
  margin: 50px; }

.spa__section-img1 {
  background-image: url(../img/img-84.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.spa__section-img2 {
  background-image: url(../img/img-85.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right center;
  grid-row: 2 / 3;
  grid-column: 2 / 3; }

.spa__section-img3 {
  background-image: url(../img/img-77.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  grid-row: 3 / 4;
  grid-column: 1 / 2; }

.spa__section-img4 {
  background-image: url(../img/img-23.webp);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  grid-row: 4 / 5;
  grid-column: 2 / 3; }

li {
  display: inline;
  padding: 15px; }
  li:active {
    text-decoration: none; }

a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif, sans-serif; }

#navbar {
  grid-column: 1 / -1;
  justify-self: center;
  position: fixed;
  text-align: center;
  padding: 16px;
  top: -50px;
  width: 100%;
  background-color: rgba(96, 122, 65, 0.8);
  transition: top 0.3s;
  z-index: 423432; }

.services {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, minmax(190px, 1fr));
  gap: 50px;
  margin: 0 5rem 10rem 5rem;
  text-align: center; }
  @media (max-width: 1200px) {
    .services {
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)); } }
  @media (max-width: 1070px) {
    .services {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); } }
  .services-title {
    grid-column: 1 / -1;
    text-align: center; }
  .services-img {
    max-width: 100%;
    transition: 0.1s ease-in-out; }
  .services-img:hover {
    box-shadow: 0 1rem 2rem rgba(54, 61, 49, 0.2); }

.heading-1 {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  letter-spacing: 11px; }

.heading-2 {
  font-family: "PT Serif", serif;
  color: #363d31; }

.heading-3 {
  font-family: "Montserrat", sans serif;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 400; }
  .heading-3_card {
    color: #363d31;
    font-family: "Montserrat", sans serif;
    font-size: 1rem; }

.heading-4 {
  font-family: "Nunito", sans-serif, sans-serif;
  color: #363d31; }

.text-1 {
  font-family: "Montserrat", sans serif;
  line-height: 175%;
  font-size: 0.9rem;
  margin-top: 25px; }

.text-2 {
  font-family: "Montserrat", sans serif;
  line-height: 175%;
  font-size: 0.9rem;
  color: #ffffff; }
